.vs/
obj/
SheetHelper/bin/
SheetHelper/obj/
Nuget.config
Tests/TestSheetHelper/bin/
Tests/TestSheetHelper/obj/
Tests/UnitTestSheetHelper/bin/
Tests/UnitTestSheetHelper/obj/
Tests/WindowsFormsApp_SheetHelper/WindowsFormsApp_SheetHelper/bin/
Tests/WindowsFormsApp_SheetHelper/WindowsFormsApp_SheetHelper/obj/